{% extends 'mailing/base.html' %}
{% load my_tags %}

{% block content %}
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'mailing:create' %}">Добавить клиента</a>
</div>
<div class="card-body">
    <table class="table table-stripped">
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Email</th>
            <th>Состояние</th>
            <th>Информация о клиенте</th>
        </tr>
        {% for object in object_list %}
        <tr>
            <td>{{ object.first_name }}</td>
            <td>{{ object.second_name }}</td>
            <td>{{ object.email }}</td>
            <td>{{ object.is_active }}</td>
            <td><a href="{% url 'mailing:client_detail' object.pk %}">Подробнее</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
