<header data-bs-theme="dark">
    <div class="collapse text-bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4>Сервис</h4>
                    <p class="text-body-secondary">
                        создания автоматических рассылок на электронную почту ваших клиентов
                    </p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4>Навигация</h4>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'mailing:home' %}" class="text-white">Главная страница</a></li>
                        <li><a href="{% url 'mailing:client_list' %}" class="text-white">Клиенты рассылок</a></li>
                        <li><a href="{% url 'mailing:emailsetting_list' %}" class="text-white">Список рассылок</a></li>
                        <li><a href="{% url 'mailing:mailinglog_list' %}" class="text-white">Информация о попытках</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="{% url 'mailing:home' %}" class="navbar-brand d-flex align-items-center">
                <strong>Your Mail Service</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>
